<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Lista de tarefas com Node.js usando MySQL">
    <meta name="keywords" content="lista de tarefas, todo list, node.js, bootstrap, full stack developer, engenheria de software, engenharia de software com metodologias ágeis, advogado trabalhista em curitiba">
    <meta name="author" content="Wagner Chequeleiro Cordeiro">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!--CSS do projeto-->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Node + Sequelize</title>
</head>
<body>
    <header class="container-fluid bg-light shadow">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/tasks">ToDo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/tasks">Tarefas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/tasks/add">Nova tarefa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container pb-5">
        {{{body}}}
    </main>
    <footer class="footer fixed-bottom mt-auto py-3 bg-light shadow">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-10 col-md-6">
                    <small class="text-center">Tarefa do curso de Node.js do Zero a Maestria com diversos Projetos, <a href="https://www.udemy.com/course/nodejs-do-zero-a-maestria-com-diversos-projetos/learn/practice/1329514/introduction#overview" target="_blank">veja mais aqui</a>.</small>
                </div>
            </div>
        </div>
    </footer>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>